BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: None
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: All
CompactNamespaces: false
FixNamespaceComments: true
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInAngles: false
SpaceInEmptyParentheses: false
PointerAlignment: Left
AlignOperands: Align
AlignTrailingComments: true
AlignConsecutiveDeclarations: None
AlignConsecutiveAssignments: None
ColumnLimit: 100
IncludeBlocks: Regroup
SortIncludes: true
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false